<html>
    <head>
        <title>
<%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="\css\layouts.css">
      </head>
        <body>
          <%- include('_header'); %>
          <h1> codial / <%= title %></h1>
          <%- include('_footer'); %>
        </body>
    </html>
