<link rel="stylesheet" type="text/css" href="\css\user_profile.css">
          <h1> codial / Profile page </h1>
          <!-- showing the details of the user in profile page -->

<p> Name <%= user.name %></p>
<p> Email: <%= user.email %></p>
